<header>
    <nav class="navbar">
      <div class="navbar-brand">
        <a routerLink="/">My Store</a>
      </div>
      <div class="navbar-menu">
        <ul>
          <li><a routerLink="/home">Home</a></li>
          <li> <a href="/cart">
            <i class="bi bi-cart3"></i>
            <span class="cart-length">{{ cartLength.length }}</span>
          </a></li>
          <li><a routerLink="/admin">Admin</a></li>
          <li><a routerLink="/register">Register</a></li>

          <li *ngIf="!isLoggedIn"><a routerLink="/login">Login</a></li>
          <li *ngIf="isLoggedIn"><a (click)="logout()">Logout ({{ userName }})</a></li>
        </ul>
      </div>
    </nav>
  </header>
  